In [1]:
# Question 1

In [2]:
def is_symmetrical(N):
    N = str(N)
    return N==N[::-1]

print(is_symmetrical(9939))

False

In [3]:
#Question 2 Given a string of numbers separated by a comma and space, return the product of the numbers.

In [4]:
def multiply_nums(number):
    lst = list(map(int,number.split(",")))
    product = 1
    for i in lst:
        product *= i
    return product

print(multiply_nums("1, 2, 3, 4"))

24

In [5]:
#Question 3 Create a function that sorts a list and removes all duplicate items from it.

In [6]:
def setify(lst):
    lst = list(set(lst))
    lst.sort()
    return lst

print(setify([1, 3, 3, 5, 5]))

[1, 3, 5]

In [7]:
#4Create a function that squares every digit of a number.

In [8]:
def square_digits(N):
    N = str(N)
    result = ""
    for i in N:
        result += str(int(i)**2)
    return result

print(square_digits(9119))

811181

In [9]:
#5Create a function that returns the mean of all digits.

In [10]:
def mean(N):
    N = str(N)
    sum1 = 0
    for i in N:
        sum1 += int(i)
    return sum1//len(N)

print(mean(42))

3